// font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$primaryFont: helvetica;

// colors
$dark: rgba(0,0,0,.9);
$medium: rgba(0,0,0,.8);
$light: rgba(0,0,0,.44);
$green: #00ab6b;
