.add-article-container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  max-width: 713px;
  margin-bottom: 10px;
  padding: 15px 20px;
  position: relative;

  .add-article-form {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    input {
      border: 0;
      border-bottom: 1px solid rgba(0,0,0,.15);
      border-radius: 0;
      height: 35px;
      margin: 0 5px 1rem 0;
      padding: 0 5px;

      &[type="submit"] {
        background: $green;
        border: none;
        border-radius: 999em;
        cursor: pointer;
        margin: 0 10px;
        padding: 0 1rem;
      }
    }
  }
}

.close-add-article {
  background: none;
  border: none;
  cursor: pointer;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 37px;
}
