header {
  height: 115px;
}

body {
  background: #fafafa;
}

main {
  padding-top: 35px;

  .main-content-container {
    margin: 0 auto;
    max-width: 1050px;
    position: relative;
  }
}

a {
  text-decoration: none;
}
