
.meta-bar-container {
    position: absolute;
    display: block;
    z-index: 500;
    width: 100%;
    font-size: 14px;
    background: #fff;
    color: rgba(0,0,0,.44);
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    top: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);

        .siteNav-logo{
            padding-left: 0;
            margin-left: -4px;

            @media screen and (max-width: 767px){
                padding-top: 5px;
                padding-left: 12px;
        }
    }
}

.meta-bar-inner {
    position: relative;
    max-width: 1000px;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;

    &:before {
        display: table;
        content: " ";
    }
}

/* LEFT BLOCK */

.meta-bar-block-left {
    @media screen and (max-width: 767px) {
        height: 56px;
    }
    height: 65px;
    float: left;
}

.siteNav-logo {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 14px;
    z-index: 700;
    border: 0;

    a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    }
}

.svgIcon-logo {
    margin-left: 2px;
    line-height: 45px;
    height: 45px;
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}

span:nth-child(1) svg path:nth-child(1){
    fill: #d0d2d3;
}
span:nth-child(1) svg path:nth-child(2){
    fill: #a6a8ab;
}
span:nth-child(1) svg path:nth-child(3){
    fill: #808184;
}
span:nth-child(1) svg path:nth-child(4){
    fill: #58595b;
}

.svgIcon-word {
    fill: rgba(0,0,0,.75);
    line-height: 45px;
    height: 45px;
    display: inline-block;
}

/* RIGHT BLOCK */

.meta-bar-block-right {
    @media (max-width: 767px) {
        text-align: right;
        height: 56px;
        right: 0;
        position: absolute;
        margin-right: 20px;
    }
    height: 65px;
    float: right;
}

.buttonSet:last-child {
    margin-right: 0;
}

.buttonSet {
    @media screen and (max-width: 767px) {
        margin-top: 9px;
        line-height: 33px;
        text-align: right;
    }
    line-height: 44px;
    margin: 10px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.buttonSet>.button {
    margin-left: 0;
    padding-left: 8px;
    margin-right: 0;
    padding-right: 8px;
}

.meta-bar-button-write {
    color: rgba(0,0,0,.37);
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    padding-right: 8px;
    margin-right: 15px;
    word-spacing: 1px;

    &:active {
        color: rgba(0,0,0,.6);
    }
}

.meta-bar-button {
    @media screen and (max-width: 767px) {
        line-height: inherit;
        vertical-align: baseline;
        height: auto;
        padding: 0;
    }
    color: #00ab6b;
    text-align: left;
    transition: .1s background-color,.1s border-color,.1s color,.1s fill;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: 400;
}

.button-search {
    height: 32px;
line-height: 30px;
}

.buttonSet>.button-search{
    margin-left: 0;
    padding-left: 7px;
    padding-right: 0;
    margin-right: 0;
}

.button-search>.button-defaultState{
    display: inline-block;
}

.svgIcon-mag-glass {
    top: -1px;
    position: relative;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
}

.buttonSet span:nth-child(1) svg path:nth-child(1) {
    fill: rgba(0,0,0,.44);
}

.meta-bar-inner-links {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    &:before {
        display: table;
        content: " ";
    }
}

.meta-bar-navigation {
    box-sizing: border-box;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    overflow-y: hidden;
    height: 50px;
    position: relative;
    z-index: 500;

    @media screen and (max-width: 767px) {
        height: 39px!important;
    }
}

ul.meta-bar-links {
    white-space: nowrap;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,.05);
    list-style: none;
    list-style-image: none;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 4px;
    padding-bottom: 5px;

    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
    }

    li {
        padding: 10px 20px 18px 0;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
        letter-spacing: 0;
        font-weight: 400;
        font-style: normal;
        color: rgba(0,0,0,.44);
        fill: rgba(0,0,0,.44);
        display: inline-block;

        @media (max-width: 767px) {
            padding-right: 12px;
            margin-right: 0;
        }
    }
}
