.promo-bar-container {
  background-image: url(https://cdn-images-1.medium.com/max/1000/1*79QRmyEK9HqdyJPV4010aw.jpeg);
  background-color: #fff;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 1000px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  text-align: left;
}
