/* General Sidebar Styles */
.sidebar-container {
  background-color: rgba(255,255,255,0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  padding: 0 0 60px 18px;
  box-sizing: border-box;

  .sidebar-content-container {
    width: 322px;

    .is-docked-top {
      position: fixed;
      top: 0;
    }

    .is-docked-bottom {
      position: fixed;
      bottom: 0;
    }
  }
}

/* welcome content styles */
.welcome-container {
  margin: 0 0 30px 20px;

  .welcome {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}
